.fadeInSection {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

.fadeInSection.isVisible {
    opacity: 1;
    transform: none;
}
.animate-spin-slow{
    -webkit-animation: spin 10s infinite linear;
}
@keyframes moveLines {
     from {
         background-position: 0 0;
     }
     to {
         background-position: 0 100%;
     }
 }

.bg-lines {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 100% 20px;
    background-repeat: repeat;
    animation: moveLines 10s linear infinite;
}
